.kutu{width: auto; height: 200px; background-color: goldenrod;}
.kutu1{width: auto; height: 50px; background-color: red; position: sticky; top: 10px;}
.kutu2{width: auto; height: 1000px; background-color: gray;}